@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Matemasie&family=Righteous&display=swap");
body {
  font-family: sans-serif;
  background-color: #000000; /* Fundo claro */
  margin: 0;
  padding: 0;
  color: #ffffff; /* Texto escuro */
  background-image: url(https://cdn.gazetasp.com.br/upload/dn_arquivo/2024/06/conferencia-leste-regulamento-nba.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: left;
  font-family: "Righteous", sans-serif;
  letter-spacing: 1.15px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Container principal */
#playerInfo {
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(83, 83, 83, 0.9); /* Fundo do card com transparência */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Títulos */
h2 {
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
}

/* Imagem do jogador */
#playerInfo img {
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}

/* Parágrafos */
p {
  font-size: 16px;
  line-height: 1.6;
  margin: 12px 0; /* Aumentado para melhor legibilidade */
}

/* Links */
a {
  color: #00a2ffcb; /* Azul NBA */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Transição suave */
}
.navbar a:hover {
  text-decoration: underline;
}
a:hover {
  color: #0080b3; /* Tom mais escuro de azul para hover */
  text-decoration: underline;
}

/* Mensagens de erro */
.error-message {
  color: #d9534f; /* Vermelho */
  font-weight: bold;
}

.team-logo {
  height: 250px;
  width: 250px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team-logo {
  height: 15vh;
  width: auto;
}

.navbar {
  background-color: #333;
  height: 7.75vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  font-size: 1.3rem;
}
a,
a:visited {
  color: #bbb;
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar {
  background-color: #333;
  height: 7.75vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  margin-bottom: 20px;
}
/* Estilo de responsividade */
@media (max-width: 600px) {
  #playerInfo {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
